@charset "utf-8";

*{padding: 0; margin: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}

.fixed-con{
	width: 1190px; margin: 0 auto; box-sizing: border-box;
	padding: 0 30px; 
}
.menu-con, .footer{min-width: 1190px;}

.search-con{
	position: relative;
	height: 160px; background-color: #fff;
}
/* 로고 영역 */
.logo{
	position: absolute; top: 50%; left: 21px; margin-top: -32px;
}
.icon-logo{
	display: inline-block;
	 width: 222px; height: 52px;
	 background-position: 0 -158px;
}
/* 우측 상단 서비스 영역 */
.service-area{
	position: absolute; top: 12px; right: 27px;
}
/* 우측상단-시작페이지로 */
.link-set{
	float: left;
		font-size: 11px; color: #404040;
}
.link-set:hover{text-decoration: underline;}
.icon-link-set{
	display: inline-block;
		width: 26px; height: 26px; margin: -3px 0 0 3px;
	background-position: -308px -345px; vertical-align: top;
}
.sa_bar{
	float: left;
	width: 1px; height: 10px;
	margin: 3px 7px; background-color: #e4e8eb;
}
/* 우측 상단-쥬니버네이버 */
.link-jrnaver{float: left;}
.icon-jrnaver{
	display: inline-block;
	width: 60px; height: 10px; margin: 3px 3px 2px;
	background-position: -262px -330px; vertical-align: top;
}
.link-jrnaver:hover .icon-jrnaver{
	background-position: -200px -330px;
}
/* 우측 상단-해피빈 */
.link-happybin{float: left; margin-left: 6px;}
.icon-happybin{
	display: inline-block;
	 width: 34px; height: 11px;
	 background-position: -369px -299px; vertical-align: top; margin: 3px 3px 2px;
}
.link-happybin:hover .icon-happybin{
	background-position: -380px -199px;
}
/* 검색창 영역 */
.search-area{
	position: absolute; box-sizing: border-box; height: 56px;
	top: 50%; left: 268px; margin-top: -28px;	
}
.green-window{
	position: relative; box-sizing: border-box;
	width: 586px; height: 56px;
	border: 2px solid #19ce60; border-radius: 2px;
}
/* 검색창-검색 */
.input-text{
	width: 474px; height: 50px; box-sizing: border-box;
	padding: 13px 15px; margin: 1px;
	background-color: #fff;
	font-size: 18px; color: #000; font-weight: 700; line-height: 24px;
	outline: 0; border: 0;
}
/* 검색창-검색버튼 */
.btn-submit{
	position: absolute; box-sizing: border-box;
	top: 0; right: 0; bottom: 0; 
	 width: 56px; height: 56px; background-color: #19ce60;
	border: 0; border-radius: 2px;
	 cursor: pointer;	
}
.icon-submit{
	display: inline-block;
	width: 22px; height: 22px;
	background-position: -420px 0; 
}
/* 검색창-가상키보드 */
.btn-keyboard{
	position: absolute; top: 0; right: 84px; bottom: 0;
	width: 36px;
}
.icon-keyboard{
	position: absolute; top: 50%; left: 50%;
	display: inline-block;
	width: 20px; height: 12px;
	background-position: -420px -402px; vertical-align: top;
	margin: -6px 0 0 -10px;
}
.search-con .btn-keyboard:hover .icon-keyboard{
	background-position: -206px -389px ;
}
/* 검색창-자동완성-버튼 */
.btn-auto{
	position: absolute; top: 0; bottom: 0; right: 64px;
	width: 22px;
}
.btn-auto .icon-auto{
	width: 10px; height:5px; display: inline-block;
	position: absolute; top: 50%; left: 50%; 
	margin: -2px 0 0 -5px; 
	background-position: -408px -100px;
}
/* 검색창-자동완성-창*/
.search-con .auto-frame{
	border: 1px solid #e4e7e8; border-top: 0; 
	border-radius: 0 0 6px 6px; background-color: #fff;
	box-shadow: 0 2px 3px 0 rgb(0, 1, 3, 0.07);
	display: none;	
}
.auto-frame .atf-footer{
	height: 40px; box-sizing: border-box;
	border-top: 1px solid #f1f4f6; border-radius: 0 0 6px 6px;
	background-color: #f9fafb;
	line-height: 37px; font-size: 13px;
}
.atf-footer .side-opt-area{
	float: left; padding-left: 12px;
}
.atf-footer .rside-opt-area{
	float: right; padding-right: 12px;
}
.atf-footer a{
	float: left; padding: 0 6px; color: gray; 
}
.atf-footer .opt-item:hover .opt-item{
	text-decoration: underline;
}
.atf-footer .report{color: #03c75a}
.atf-footer .report::before{
	width: 1px; height: 11px; float: left;
	margin-top: 14px; content: ''; background-color: #e2e2e2;
	margin-left: -6px;
}
/* 메뉴바 */
.menu-con{
	height: 52px; position: relative;
	border-top: 1px solid #e4e8eb;	
	box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.2);
 }
 .menu-con .menu{
	position: relative; width: 1130px;
	 padding: 0 30px; margin: 0 auto;
 }
 .menu .group-nav{
	position: relative;
	padding: 11px 270px 11px 0;
 }
/* 메뉴바-초록색 메뉴 */
 .group-nav .list-menu{
	float: left;
	font-size: 15px; line-height: 30px; font-weight: 700;
	color: #000; letter-spacing: -.3px;
 }
.green-menu a{color: #03c75a;}
 .list-menu .menu-item{
		float: left;
 }
 .menu-item .icon-mail{
	display: inline-block; width: 21px; height: 21px;
	background-position: -420px -73px; vertical-align: top;
	margin: 3px 9px 0 0;
 }
 .list-menu .menu-item+.menu-item{
	margin-left: 12px;
 }
 .menu-item .shopping, .menu-item .shopping-live{
	padding: 5px 0;}
 .menu-item .icon-shopping{
	display: inline-block; width: 24px; height: 20px;
	background-position: -154px -389px; vertical-align: top;
	margin-top: 5px; 
 }
 .menu-item .icon-shopping-live{
	display: inline-block; width: 54px; height: 20px;
	background-position: -202px -299px; vertical-align: top;
	margin-top: 5px; 
 }
 .menu-item .icon-tv{
	display: inline-block; width: 12px; height: 14px;
	 background-position: -444px -49px; vertical-align: top;
	margin: 9px 2px 0 0;
 }
/* 메뉴바-검은색 메뉴 */
.menu .list-menu+.list-menu{margin-left: 12px;}
.black-menu a{color: #000;}
/* 메뉴바-더보기 */
.group-nav .btn-more{
	float: left; margin-left: 17px;
	font-size: 13px; line-height: 30px; 
	color: #202020;
}
.group-nav .btn-more:hover{
	text-decoration: underline;
}
.group-nav .btn-more::after{
	display: inline-block; width: 11px; height: 7px;
	background-position: -444px -339px; content: '';
	margin-left: 7px; vertical-align: 2px;
}
/* 메뉴바-더보기-접기 */
.group-nav .btn-more.fold{
	color: #0ecd5a;
}
.menu-con .btn-more>.title{
	float: left;
}
.group-nav .btn-more>.title:nth-child(2){
	display: none; 
}
.group-nav .btn-more.fold>.title:nth-child(1){
	display: none;
}
.group-nav .btn-more.fold>.title:nth-child(2){
	display: inline;
}
.group-nav .btn-more.fold::after{
	background-position: -444px -330px;
}
/* 컨텐츠 */
.content-con{ height: 500px;}
.content-con.fixed-con{
	padding: 20px 30px; letter-spacing: -.2px;
	position: relative;
}
.content-con .column-left{
	float: left; width: 750px; height: 100%;
}
.content-con .column-right{
	float: right; width: 350px; position: relative;
}
/* 컨텐츠-왼쪽-상단 광고 */
.content-con .column-left .ad-area{
	position: relative; width: 750px; height: 135px;
	border: 0px; vertical-align: bottom;
}
.content-con .column-left .ad-area .link-ad{
	display: block;
}
/* 컨텐츠-왼쪽-뉴스 */
.content-con .column-left .news-area{
	width: 750px; margin-top: 12px;
}
/* 컨텐츠-왼쪽-뉴스-뉴스상단바 */
.content-con .column-left .news-area .group-issue{
	position: relative; padding: 12px 15px 11px 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6; line-height: 24px;
}
/* 컨텐츠-왼쪽-뉴스-뉴스상단바-뉴스롤링(왼쪽) */
.content-con .news-area .group-issue .issue{
	float: left;
}
.content-con .news-area .group-issue .issue .link-media{
	float: left; position: relative;
	padding-right: 12px; margin-right: 7px;
	font-size: 13px; color: #000; font-weight: 700; letter-spacing: -.3px;
}
.content-con .news-area .group-issue .issue .link-media::after{
	position: absolute; top: 7px; right: 0;
	display: inline-block; width: 6px; height: 10px;
	background-position: -444px -380px; vertical-align: top; content: '';	
}
.content-con .news-area .group-issue .issue .list-issue{
	overflow: hidden; float: left; width: 310px; height: 24px;
}
.content-con .news-area .group-issue .issue .link-issue{
	display: block; width: 310px; font-size: 13px; color: #202020;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.content-con .news-area .group-issue .issue .link-issue:hover{
	text-decoration: underline;
}
/* 컨텐츠-왼쪽-뉴스-뉴스상단바-뉴스링크(오른쪽) */
.content-con .news-area .group-issue .direct{
	float: right; font-weight: 700;
}
.content-con .news-area .group-issue .direct .link-direct,
.content-con .news-area .group-issue .direct .link-news{
	float: left; height: 24px; font-size: 13px;
}
.content-con .news-area .group-issue .direct .link-news{
	color: #3565c9;
}
.content-con .news-area .group-issue .direct .link-news::after{
	background-color: #c8ccd1;
	display: inline-block; width: 3px; height: 3px;
	border-radius: 50%;  vertical-align: 3px;
	content: ''; margin-left: 8px;
}
.content-con .news-area .group-issue .direct .link-direct{
	margin: 0 4px 0 7px; color: #202020;
}
/* 컨텐츠-왼쪽-뉴스-뉴스스탠드 */
/* 컨텐츠-왼쪽-뉴스-뉴스스탠드-뉴스 link */
.content-con .column-left .news-area .group-title{
	padding: 22px 0 16px;
	font-size: 14px; line-height: 18px;
}
.content-con .news-area .group-title .link-newsstand{
	float: left;
	color: #000; font-weight: 700; text-decoration: none;
}
.content-con .news-area .group-title .link-newsstand::before{
	display: inline-block; width: 27px; height: 24px;
  background-position: -336px -345px; vertical-align: top;
  content: ''; margin: -6px 1px 0 0;
}
.content-con .news-area .group-title .link-newsstand::after{
	display: inline-block; width: 7px; height: 11px;
  background-position: -444px -317px; vertical-align: top;
  content: '';
  margin-left: 6px; vertical-align: -1px;
}
/* 컨텐츠-왼쪽-뉴스-뉴스스탠드-뉴스 sort */
.content-con .news-area .group-title .sort-area{
	float: left; margin-left: 10px;
}
.content-con .news-area .group-title .sort-area .btn-sort{
	font-size: 14px; color: #505050;
}
.content-con .news-area .group-title .sort-area .btn-sort+.btn-sort::before{
	background-color: #c7ccd1; content: '';
	display: inline-block; width: 4px; height: 4px;
	border-radius: 50%; vertical-align: top;
	margin: 0 8px 0 4px; vertical-align: 3px;
}
.content-con .news-area .group-title .sort-area .btn-sort.select{
	color: #000; font-weight: 700;
}

/* 컨텐츠-왼쪽-뉴스-뉴스스탠드-뉴스 set */
.content-con .news-area .group-title .set-area{
	float: right;
}
.content-con .news-area .group-title .set-area .btn-set{
	float: left; padding: 0 9px;
}
.content-con .news-area .group-title .icon-list{
	display: inline-block; width: 14px; height: 13px;
	background-position: -49px -419px; vertical-align: top;
	opacity: .7;
}
.content-con .news-area .group-title .icon-title{
	display: inline-block; width: 13px; height: 13px;
	background-position: -444px -34px; vertical-align: top;
}
.content-con .news-area .group-title .icon-set{
	display: inline-block; width: 15px; height: 15px;
	background-position: 0 -419px; vertical-align: top;
	opacity: .7; margin: -1px 0 1px;
}
.content-con .news-area .group-title a:hover .icon-list,
.content-con .news-area .group-title a:hover .icon-title,
.content-con .news-area .group-title a:hover .icon-set{
	opacity: 1;
}
.content-con .news-area .group-title .select .icon-list{
	opacity: 1; background-position: -17px -419px;
}
.content-con .news-area .group-title .select .icon-title{
	opacity: 1; background-position: -444px -19px;
}

.content-con .news-area .group-title .icon-set:hover{
	opacity: 1;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스 */
.content-con .news-area .group-news{
	position: relative; height: 260px;
	border: 1px solid #dae1e6; border-width: 1px 0;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스-왼쪽 버튼 */
.content-con .news-area .group-news .btn-prev{
	position: absolute; left: -27px; top:109px; z-index: 10;
}
.content-con .news-area .group-news .btn-prev .icon-btn{
	display: inline-block; width: 44px; height: 44px;
	background-position: 0 -299px; vertical-align: top;
}
.content-con .news-area .group-news .btn-prev .icon-btn:hover{
	background-position: -46px -299px;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스-오른쪽 버튼 */
.content-con .news-area .group-news .btn-next{
	position: absolute; right: -13px; top:109px; z-index: 10;
}
.content-con .news-area .group-news .btn-next .icon-btn{
	display: inline-block; width: 44px; height: 44px;
	background-position: -224px -158px; vertical-align: top;
}
.content-con .news-area .group-news .btn-next .icon-btn:hover{
	background-position: -92px -299px;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스-구분선*/
.content-con .news-area .title-view{
	position: relative; height: 260px; 
	border: 1px solid #dae1e6; border-width: 0 1px;
}
.content-con .news-area .title-view .frame-area {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
.content-con .news-area .title-view .frame-area .line {
	position: absolute;	background-color: #e4e8eb;
}
.content-con .news-area .title-view .frame-area .to-right1,
.content-con .news-area .title-view .frame-area .to-right2,
.content-con .news-area .title-view .frame-area .to-right3 {
	left: 0; right: 0; height: 1px;
}
.content-con .news-area .title-view .frame-area .to-right1{
	top: 65px;
}
.content-con .news-area .title-view .frame-area .to-right2{
	top: 130px;
}
.content-con .news-area .title-view .frame-area .to-right3{
	top: 195px;
}
.content-con .news-area .title-view .frame-area .to-bottom1,
.content-con .news-area .title-view .frame-area .to-bottom2,
.content-con .news-area .title-view .frame-area .to-bottom3,
.content-con .news-area .title-view .frame-area .to-bottom4,
.content-con .news-area .title-view .frame-area .to-bottom5{
	top: 0; bottom: 0; width: 1px;
}
.content-con .news-area .title-view .frame-area .to-bottom1{
	left: 124px;
}
.content-con .news-area .title-view .frame-area .to-bottom2{
	left: 248px;
}
.content-con .news-area .title-view .frame-area .to-bottom3{
	left: 372px;
}
.content-con .news-area .title-view .frame-area .to-bottom4{
	left: 497px;
}
.content-con .news-area .title-view .frame-area .to-bottom5{
	left: 622px;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스-칸 안 */
/* 컨텐츠-왼쪽-뉴스-언론사박스-칸 안-언론사 로고 */
.content-con .news-area .title-view .thumb-box{
	position: relative;
	float: left; width: 16.66%; height: 65px;
}
.content-con .news-area .title-view .thumb-box .thumb{
	display: block; padding: 23px 0 22px;
	text-align: center;
}
/* 컨텐츠-왼쪽-뉴스-언론사박스-칸 안-구독 */
.content-con .news-area .title-view .thumb-box .popup-wrap{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	display: none;
	overflow: hidden;
	padding: 19px 0 18px;
	background-color: #f7f9fa;
	font-size: 0; line-height: 0; text-align: center;
}
.content-con .news-area .title-view .thumb-box .btn-popup{
	display: inline-block;
	padding: 7px 8px 5px; vertical-align: top;
	background-color: #fff; border: 1px solid #dae1e6;
	font-size: 12px; line-height: 16px; color: #505050;
}
.content-con .news-area .title-view .thumb-box .btn-popup:hover{
	border-color: #bec8d8;
}
.content-con .news-area .title-view .thumb-box:hover .popup-wrap{
	display: block;
}
/* 컨텐츠-왼쪽-캐스트 */
.content-con .column-left .themecast-area{	
  padding: 35px 0 27px; letter-spacing: -.25px;
}
/* 컨텐츠-왼쪽-캐스트-머리 */
.content-con .themecast-area .theme-head{
	font-size: 12px; line-height: 16px; color: #202020;
}
.content-con .themecast-area .theme-head .group-title{
	overflow: hidden; padding-bottom: 17px;
}
.content-con .themecast-area .theme-head .group-title .title-area{
	float: left;
}
.content-con .themecast-area .group-title .title-area .dsc{
	margin-left: 8px;
}
.content-con .themecast-area .group-title .info-area{
	float: right;
}
.content-con .themecast-area .group-title .info-area .btn-set{
	position: relative; margin-left: 14px; color: #505050;
	background: none !important;
}
.content-con .themecast-area .group-title .info-area .btn-set::before{
	display: inline-block; width: 11px; height: 11px;
	background-position: -444px -194px; vertical-align: top;
	content: ''; margin-right: 4px; vertical-align: -1px;
	opacity: .7;
}
.content-con .themecast-area .group-title .info-area .btn-set::after{
	position: absolute; top: 2px; left: -8px;
	content: ''; width: 1px; height: 12px;
	background-color: #e4e8eb;
}
.content-con .themecast-area .group-title .info-area a:hover{
	text-decoration: underline;
}
.content-con .themecast-area .group-title .info-area a:hover::before{
	opacity: 1;
}
/* 컨텐츠-왼쪽-캐스트-카테고리 */
.content-con .themecast-area .theme-head .group-category .main-category{
	position: relative; background-color: #fff;
	border: 1px solid #dae1e6;
}
/* 컨텐츠-왼쪽-캐스트-카테고리-버튼 */
.content-con .themecast-area .main-category .btn-prev{
	position: absolute; top: 6px; left: -23px;
	z-index: 10; 
}
.content-con .themecast-area .main-category .btn-prev .icon-btn{
	display: inline-block; width: 40px; height: 40px;
	background-position: -128px -345px; vertical-align: top;
}
.content-con .themecast-area .main-category .btn-prev:hover .icon-btn{
	background-position: -44px -345px;
}
.content-con .themecast-area .main-category .btn-next{
	position: absolute; top: 6px; right: -18px;
	z-index: 10; 
}
.content-con .themecast-area .main-category .btn-next .icon-btn{
	display: inline-block; width: 40px; height: 40px;
	background-position: -86px -345px; vertical-align: top;
}
.content-con .themecast-area .main-category .btn-next:hover .icon-btn{
	background-position: -170px -345px
}
/* 컨텐츠-왼쪽-캐스트-카테고리-list */
.content-con .themecast-area .main-category .list-category-wrap{
	overflow: hidden;
}
.content-con .themecast-area .main-category .list-category{
	font-size: 0; line-height: 0; white-space: nowrap;
}
.content-con .themecast-area .main-category .item-category{
	position: relative; z-index: 1;
	display: inline-block; width: 94px;
	vertical-align: top; 
}
.content-con .themecast-area .main-category .item-category:nth-child(8n+1){
	width: 92px;
}
.content-con .themecast-area .main-category .tab{
	display: block; border-right: 1px solid #dae1e6;
	font-size: 13px; line-height: 49px; font-weight: 700;
	text-align: center; color: #202020;
}
.content-con .themecast-area .main-category .icon-middot{
	display: inline-block; width: 2px; height: 2px;
	margin: 0 2px; 	vertical-align: 4px;
	background-color: rgba(32,32,32,.8);
	border-radius: 50%;
}
/* 컨텐츠-왼쪽-캐스트-카테고리-list-hover*/
.content-con .themecast-area .main-category .tab.link-enter:hover{
	color: #e65da0;
}
.content-con .themecast-area .main-category .tab.link-sports:hover{
  color: #0147b5;
}
.content-con .themecast-area .main-category .tab.link-car:hover{
	color: #4a94e1;
}
.content-con .themecast-area .main-category .tab.link-webtoon:hover{
	color: #66c971;
}
.content-con .themecast-area .main-category .tab.link-finance:hover{
	color: #35ae5e;
}
.content-con .themecast-area .main-category .tab.link-myfeed:hover{
	color: #5290ff;
}
.content-con .themecast-area .main-category .tab.link-living:hover{
	color: #ebaa00;
}
.content-con .themecast-area .main-category .tab.link-livinghome:hover{
	color: #c08d31;
}
.content-con .themecast-area .main-category .tab.link-culture:hover{
	color: #42be6f;
}
.content-con .themecast-area .main-category .tab.link-beauty:hover{
	color: #8449ca;
}
/* 컨텐츠-왼쪽-캐스트-카테고리-list-선택*/
.content-con .themecast-area .main-category .tab.link-enter.select{
	background-color: #e65da0; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-sports.select{
  background-color: #0147b5; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-car.select{
	background-color: #4a94e1; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-webtoon.select{
	background-color: #66c971; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-finance.select{
	background-color: #35ae5e; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-myfeed.select{
	background-color: #5290ff; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-living.select{
	background-color: #ebaa00; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-livinghome.select{
	background-color: #c08d31; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-culture.select{
	background-color: #42be6f; color: #fff;
}
.content-con .themecast-area .main-category .tab.link-beauty.select{
	background-color: #8449ca; color: #fff;
}
.content-con .themecast-area .main-category .tab.select{
	position: relative;
	margin: 0 -1px; border-radius: 1px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
/* 컨텐츠-오른쪽-로그인 */
.content-con .column-right .login-area{
	padding: 16px 16px 12px 17px;
  background-color: #f7f9fa; border: 1px solid #dae1e6;
	height: 135px; box-sizing: border-box;
}
.content-con .column-right .login-area .login-msg{
	padding-left: 3px; color: grey; font-size: 12px; line-height: 16px;
}
.content-con .column-right .login-area .link-login{
	display: block;
	padding: 15px 0; margin-top: 11px;
	background-color: #19ce60;
	border: 1px solid #15c654; border-radius: 2px;
	font-size: 13px; color: #fff; font-weight: 700;
	text-align: center; text-decoration: none;
}
.content-con .login-area .icon-naver{
	display: inline-block; width: 60px; height: 12px;
	background-position: -138px -330px; vertical-align: top;
	margin: 2px 5px 0 0;
}
.content-con .column-right .login-area .login-sub-area{
	margin: 14px 8px 0 4px; 
	font-size: 12px; line-height: 16px;
}
.content-con .login-area .login-sub-area .look-box{
	float: left;
}
.content-con .login-sub-area .look-box::before{
	display: inline-block; width: 10px; height: 14px;
	background-position: -444px -98px; vertical-align: top;
  content: ''; margin: -1px 1px 1px;
}
.content-con .login-sub-area .link-look{
	color: #404040;
}
.content-con .login-sub-area .link-look+.link-look::before{
	background-color: #d7dce0;
  display: inline-block; width: 3px; height: 3px;
	border-radius: 50%; vertical-align: top;
  content: ''; margin: 0 5px 0 2px;
  vertical-align: 3px;
}
.content-con .login-area .login-sub-area .link-join{
	float: right;
	color: #505050; 
}
.content-con .login-sub-area .link-join::before{
	display: inline-block; width: 11px; height: 11px;
	background-position: -444px -129px; vertical-align: top;
	content: ''; margin: 2px 5px 0 0;
}
.content-con .login-sub-area a:hover{
	text-decoration: underline;
}
/* 컨텐츠-오른쪽-타임스퀘어 */
.content-con .column-right .timesquare-area{
	position: relative; height: 47px;
  margin: 12px 0;
  border: 1px solid #dae1e6; letter-spacing: -.25px;
}
.content-con .column-right .card-wrap{
	height: 47px; padding-right: 67px;
}
/* 컨텐츠-오른쪽-타임스퀘어-버튼(오른쪽) */
.content-con .column-right .card-wrap .card-nav{
	position: absolute; top: 11px; right: 10px;
}
.content-con .timesquare-area .card-nav .btn-nav{
	float: left;
	background-color: #fff; border: 1px solid #e4e8eb;
}
.content-con .timesquare-area .card-nav .btn-nav:hover{
	background-color: #fafbfc;
}
.content-con .timesquare-area .card-nav .btn-prev::before{
	display: inline-block; width: 6px; height: 9px;
	background-position: -408px -74px; vertical-align: top;
	content: ''; margin: 7px 8px 6px;
}
.content-con .timesquare-area .card-nav .btn-next::before{
	display: inline-block; width: 6px; height: 9px;
	background-position: -451px -392px; vertical-align: top;
	content: ''; margin: 7px 8px 6px;
}
/* 컨텐츠-오른쪽-타임스퀘어-글자롤링(왼쪽) */
.content-con .timesquare-area .news-pannel{
	width: 281px; position: absolute; left: 0px;
}
.content-con .timesquare-area .news-pannel .card-news{
	display: block; padding: 14px 0 13px 16px;
}
.content-con .timesquare-area .card-news .news-badge.type-flash{
	border-color: #3291f8; color: #3291f8; 	font-style: normal;
}
.content-con .timesquare-area .card-news .news-badge{
	float: left; height: 18px;
	padding: 0 7px; margin-right: 8px;
	border: 1px solid #202020; border-radius: 10px;
	font-size: 11px; line-height: 18px;
	color: #202020; font-weight: 700;
	vertical-align: top;
}
.content-con .timesquare-area .card-news .news{
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	display: block;
	font-size: 13px; line-height: 20px; color: #404040;
}
.content-con .timesquare-area .card-news:hover{
	text-decoration: underline;
}
/* 컨텐츠 박스-오른쪽-광고이미지롤링 */
.content-con .column-right .img-rolling-area{
	margin-top: 12px;
}
.content-con .img-rolling-area .img-rolling-link{
	display: block; line-height: 0;
}
.content-con .img-rolling-area .img-rolling-link img{
	width: 350px; height: 200px;
}
/* 컨텐츠-오른쪽-쇼핑 */
.content-con .column-right .shop-area{
	width: 350px; margin-top: 15px; 
}
.content-con .column-right .shop-area .shop-wrap{
	width: 350px; height: 1809px;
	background-color: #fff; letter-spacing: -.25px;
	transform: translateZ(0);
}
/* 컨텐츠-오른쪽-쇼핑-머리 */
.content-con .shop-wrap .shop-header{
	padding: 12px 0 13px; line-height: 17px;
}
.content-con .shop-wrap .shop-header .trend-shop{
	float: left; margin: 2px 0 0 1px;
	font-size: 13px; line-height: 17px;
}
.content-con .shop-wrap .shop-header .trend-shop .link-trend-shop{
	background: none !important;  color: #000;
}
.content-con .shop-wrap .shop-header .trend-shop .link-trend-shop::before{
	display: inline-block; width: 15px; height: 15px;
	background-position: -48px -77px; content: '';
	margin-right: 4px; vertical-align: -3px;
}
.content-con .shop-wrap .shop-header .trend-shop .link-trend-shop::after{
	display: inline-block; width: 5px; height: 9px;
	background-position: -65px -77px; content: '';
	margin-left: 7px;	vertical-align: 0;
}
.content-con .shop-wrap .shop-header .trend-shop .link-trend-shop:hover{
	text-decoration: underline;
}
.content-con .shop-wrap .shop-header .shop-tab{
	float: right;
	font-size: 13px; font-weight: 700;
}
.content-con .shop-wrap .shop-header .shop-tab .item-tab{
	float: left;
}
.content-con .shop-wrap .shop-header .shop-tab .item-tab+.item-tab{
	margin-left: 11px;
}
.content-con .shop-wrap .shop-header .shop-tab .item-tab .tab{
	display: block; padding: 0 1px;
	border-bottom: 2px solid transparent; color: #202020;
}
.content-con .shop-wrap .shop-header .shop-tab .item-tab .tab.select{
	border-color: #19ce60; color: #03c75a;
}
/* 컨텐츠-오른쪽-쇼핑-content */
.content-con .shop-wrap .shop-content{
  height: 1763px; border: 1px solid #e4e8eb;
}
/* 컨텐츠-오른쪽-쇼핑-content-mall */
.content-con .shop-wrap .shop-content .group-mall{
	padding: 12px 4px 11px 10px;
  background-color: #f7f9fa; border-bottom: 1px solid #dae1e6;
}
.content-con .shop-wrap .shop-content .group-mall .link-mall{
	float: left; line-height: 23px; color: #404040;
	font-size: 12px; letter-spacing: -.25px;
}
.content-con .shop-wrap .shop-content .group-mall .link-mall:hover{
	text-decoration: underline;
}
.content-con .shop-wrap .shop-content .group-mall .middot{
	background-color: #c9cccf; float: left;
	width: 3px; height: 3px;
	border-radius: 50%; vertical-align: top;
}
.content-con .shop-wrap .shop-content .group-mall .middot.dot1{
	margin: 10px 12px 0;
}
.content-con .shop-wrap .shop-content .group-mall .middot.dot2{
	margin: 10px 13px 0;
}
.content-con .shop-wrap .shop-content .group-mall .middot.dot3{
	margin: 10px 11px 0;
}
.content-con .shop-wrap .shop-content .group-mall .middot.dot4{
	margin: 10px 10px 0;
}
/* 컨텐츠-오른쪽-쇼핑-content-goods */
.content-con .shop-wrap .shop-content .group-goods{
	position: relative; padding: 55px 8px 20px;
}
/* 컨텐츠-오른쪽-쇼핑-content-goods-상단cotrol */
.content-con .shop-wrap .shop-content .group-goods .shop-control{
	position: absolute; top: 13px; right: 8px;
	text-align: right;
}
.content-con .shop-wrap .shop-content .group-goods .shop-control .num-box{
	float: left; font-size: 12px;
	line-height: 29px; color: grey;
}
.content-con .shop-wrap .shop-content .shop-control .num-box .current{
	margin-right: 4px; font-style: normal;
	color: #202020; font-weight: 700;
}
.content-con .shop-wrap .shop-content .shop-control .btn-box{
	float: left; margin-left: 7px;
}
.content-con .shop-wrap .shop-content .shop-control .btn-box .btn{
	float: left; background: none !important; 
  background-color: #fff; border: 1px solid #dae1e6;
}
.btn:hover{
	background-color: #fafbfc;
}
.content-con .shop-wrap .shop-content .shop-control .btn-prev::before{
	display: inline-block; width: 5px; height: 9px;
	background-position: -93px -77px; vertical-align: top;
	content: ''; margin: 9px 12px 9px 10px;
}
.content-con .shop-wrap .shop-content .shop-control .btn-box .btn-next{
	margin-left: -1px;
}
.content-con .shop-wrap .shop-content .shop-control .btn-next::before{
	display: inline-block; width: 5px; height: 9px;
	background-position: -79px -77px; vertical-align: top;
	content: ''; margin: 9px 10px 9px 12px;
}
/* 컨텐츠-오른쪽-쇼핑-content-goods-상품이미지 */
.content-con .shop-wrap .shop-content .list-goods-wrap .list-goods{
	margin: -10px -5px 0 0;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .item-goods{
	margin-top: 10px; float: left; width: 33.33%;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .item-goods .goods-area{
	display: block; margin-right: 5px; color: #202020;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .goods-area .thumb-box{
	overflow: hidden; position: relative; 
}
.content-con .shop-wrap .shop-content .list-goods-wrap .goods-area .thumb-box>img{
	vertical-align: top; transition: transform 0.3s;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .goods-area .thumb-bd{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	border: 1px solid #000;	opacity: .08;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .title-box{
	margin-top: 5px; 
}
.content-con .shop-wrap .shop-content .list-goods-wrap .title{
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	display: block; line-height: 16px; text-align: center;
	font-size: 12px; letter-spacing: -.25px;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .title:first-child{
	font-weight: 700;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .item-goods:hover{
	text-decoration: underline;
}
.content-con .shop-wrap .shop-content .list-goods-wrap .item-goods:hover img{
	transform: scale(1.1);
}
/* 컨텐츠-오른쪽-쇼핑-content-goods-하단 페이지 */
.content-con .shop-wrap .shop-content .shop-page{
	margin-top: 21px; text-align: center;
}
.content-con .shop-wrap .shop-content .shop-page .btn{
	display: inline-block; vertical-align: top;
	background-color: #fff; border: 1px solid #dae1e6;	
	background: none !important; 
}
.content-con .shop-wrap .shop-content .shop-page .btn-prev::before{
	display: inline-block; width: 5px; height: 9px;
	background-position: -93px -77px; vertical-align: top;
	content: ''; margin: 9px 12px 9px 10px;
}
.content-con .shop-wrap .shop-content .shop-page .btn:hover{
	background-color: #fafbfc;
}
.content-con .shop-wrap .shop-content .shop-page .num-box{
	display: inline-block; min-width: 61px; vertical-align: top;
	line-height: 29px; color: grey; text-align: center;
	font-size: 12px;
}
.content-con .shop-wrap .shop-content .shop-page .num-box .current{
	margin-right: 4px; color: #202020; font-weight: 700; font-style: normal;
}
.content-con .shop-wrap .shop-content .shop-page .btn-next::before{
	display: inline-block; width: 5px; height: 9px;
	background-position: -79px -77px; vertical-align: top;
	content: ''; margin: 9px 10px 9px 12px;
}





.footer-con{height: 424px; background-color: purple;}
 
/* clearfix 공용 */
.search-con .box-service::after,
.list-menu .menu-item::after,
.login-area .login-sub-area::after,
.content-con .news-area .group-issue::after,
.fixed-con::after,
.content-con .news-area .group-title::after,
.clearfix::after{
	clear: both; display: block; content: '';
}
/* 공용 이미지 */
.icon-submit,
.icon-logo, 
.icon-link-set, 
.icon-jrnaver, 
.icon-happybin,
.icon-keyboard, 
.icon-auto,
.menu-item .icon-mail,
.menu-item .icon-shopping,
.menu-item .icon-shopping-live,
.menu-item .icon-tv,
.group-nav .btn-more::after,
.group-nav .btn-more.fold::after,
.content-con .login-area .icon-naver,
.content-con .login-sub-area .look-box::before,
.content-con .login-sub-area .link-join::before,
.content-con .news-area .group-issue .issue .link-media::after,
.content-con .timesquare-area .card-nav .btn-prev::before,
.content-con .timesquare-area .card-nav .btn-next::before,
.content-con .news-area .group-title .link-newsstand::before,
.content-con .news-area .group-title .link-newsstand::after,
.content-con .news-area .group-title .icon-list,
.content-con .news-area .group-title .icon-title,
.content-con .news-area .group-title .icon-set,
.content-con .news-area .group-news .btn-prev .icon-btn,
.content-con .news-area .group-news .btn-next .icon-btn,
.bg-img,
.bg-img::before,
.bg-img::after{
	background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
	background-size: 457px 434px ;
}

.img-bg,
.img-bg::before,
.img-bg::after{    
	background-image: url(https://s.pstatic.net/static/www/img/uit/sp_shop_a620bd.png);
	background-size: 107px 101px;
}