@charset "utf-8";

*{padding: 0; margin: 0;}
.container{
	background-color: yellow; padding: 10px;
}
.container::after{
	display: block; clear: both; content: '';
}
.box{
	box-sizing: border-box; width: 100%; height: 50px;
	border: 2px solid black; float: left;
}
.box:nth-child(n+2){
		margin-top: 10px;
}