@charset "utf-8";

*{padding: 0; margin: 0;}
.container{
	background-color: yellow; padding: 10px;
}
.container::after{
	display: block; clear: both; content: '';
}
.box{
	box-sizing: border-box; width: calc(50% - 5px); height: 50px;
	border: 2px solid black; float: left;
}
.box:nth-child(2n){
	margin-left: 10px;
}
.box:nth-child(n+3){
	margin-top: 10px;
}